/*!imports */
@font-face {
    font-family:'Bai Jamjuree' ;
    src: url(./fonts/BaiJamjuree-Medium.ttf);
    font-weight: 400;
}
@font-face {
    font-family:'Bai Jamjuree' ;
    src: url(./fonts/BaiJamjuree-SemiBold.ttf);
    font-weight: 600;
}
/*!reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
/*!global */
:root{
--Strong-Cyan: hsl(171, 66%, 44%);
--Light-Blue: hsl(233, 100%, 69%);
--Dark-Grayish-Blue: hsl(210, 10%, 33%);
--Grayish-Blue: hsl(201, 11%, 66%);
}
body{
    font-size: 18px;
    line-height: 1.4;
    font-family: "Bai Jamjuree";
}
h2{
    color: var(--Dark-Grayish-Blue);
    margin-bottom: .4em;
}
p{
    color: var(--Grayish-Blue);
    margin: 0 auto;
    margin-bottom: .8em;
}
/*!body */
main{
    text-align: center;
    margin: 0 auto;
}
header{
    background-image: url(./images/bg-header-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin-bottom: 7em;
}
header h2,p{
    padding: 1.5em;
}
header img{
    margin-top: 4em;
    margin-bottom: 1.5em;
}
header .button-1 button,.l-section button{
    width: 90%;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1.5em;
    border: none;
}
.button-1 a:first-child button{
    background-color: var(--Strong-Cyan);
    color: white;
    cursor: pointer;
}
.button-1 a:last-child button{
    background-color: var(--Light-Blue);
    color: white;
    cursor: pointer;
}
.img-1{
    margin-top: 2em;
    margin-bottom: 2em;
}
.same p{
    margin-bottom: 2em;
}
.section-1{
    margin-bottom: 10em;
    padding: .5em;
}
/*?start section-2 */
.section-2{
    padding: .6em;
}
.section-2 >img{
    margin-top: 2em;
    margin-bottom: 2em;
}
.contianer{
    margin-bottom: 2.5em;
}
.contianer img,h3{
    margin-bottom: 1em;
}
.workflow{
    margin-bottom: 4em;
}
/*?section-3 */
.images div {
   margin-bottom: 1.8em;
}
.l-section{
    margin-bottom: 6em;
    padding: .5em;
}
.l-section p{
    margin-top: -1.7em;
}
.l-section a:first-of-type button{
    background-color: var(--Strong-Cyan);
    color: white;
    cursor: pointer;
}
.l-section a:last-of-type button{
    background-color: var(--Light-Blue);
    color: white;
    cursor: pointer;
}
/*?footer */
footer{
    background-color: rgba(239, 234, 234, 0.281);
    padding: 0em;
    text-align: center;
}
footer div:first-child img{
    width: 3em;
    height: 3em;
    margin-bottom: 1em;
    margin-top: 2em;
}
.images-2 img{
    margin-right: 1em;
    margin-bottom: 1em;
}
/*!media */
@media screen and (min-width:1300px) {
    header {
        background-image: url(./images/bg-header-desktop.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
   header p{
    margin-top: -4em; 
    width: 50%;
   }
   header .button-1 button,.l-section button{
    width: 15%;
   }
   .section-1 .div-1 p{
    width: 50%;
   }
   .same{
    text-align: start;
    margin-top: 4em;
   }
   .same p{
    width: 75%;
    margin-top: -2em;
    margin-bottom: -2em;
   }
   .img-1{
    float: left;
    margin-right:4em ;
   }
   /*?section-2 */
   .section-2 .div-1{
    margin-top: 1.5em;
   }
   .section-2 .div-1 p{
    width: 55%;
   }
   .parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
   }
   .contianer p{
    width: 85%;
    margin-top: -2em;
   }
   /* ?section of images */
   .images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
   }
   .images div{
    width: 18%;
   }
   /* ?last-section */
   .l-section p{
    width: 55%;
   }
   /* ?footer */
   footer{
    text-align: start;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
   }
   .line{
    height: 40%;
   }
   .i-div{
    height: 80%;
   }
   .imgg{
   width: 15%;
   }
   .images-2 {
    width: 40%;
    transform: translate(24em);
    }
   
}